.filter {
  max-width: 700px;
  display: none;
  column-gap: 25px;
  margin-bottom: 25px;
}

.filterSelect {
  margin-bottom: 25px;
}

.cardsAndFilters {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.categories {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-right: 2rem;
}

.categories > div {
  margin-top: 1rem;
}

.category {
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: all 0.7s;
  cursor: pointer;
  background-color: #fff;
  margin: 7px 0;
  color: #000;
  height: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #fff;
}

.activeCat {
  background-color: #000;
  color: #fff;
}

.category > p {
  font-size: 1rem;
}

.category:hover {
  color: #000;
  background-color: rgb(203, 213, 224);
}

.activeCat:hover {
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.cardContainer {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  width: 100%;
}

.input {
  border: 1px solid rgb(203, 213, 224);
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 80em) {
  .cardContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 80em) {
  .cardContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 60em) {
  .cardContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 55em) {
  .container {
    flex-direction: column;
  }

  .filter {
    display: flex;
  }

  .categories {
    display: none;
  }
}

@media screen and (max-width: 40em) {
  .cardContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: auto;
  }
}

@media screen and (max-width: 25em) {
  .cardContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
