/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* .background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1f1e1e, #575757);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #1f1e1e, #575757);
  right: -30px;
  bottom: -80px;
} */

.main {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 850px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgb(203, 213, 224);
  /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); */
  padding: 50px 35px;
}

@media screen and (max-width: 450px) {
  .form {
    width: 90%;
  }
}

.form * {
  /* font-family: 'Poppins', sans-serif; */
  color: #000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.input {
  border: 1px solid rgb(203, 213, 224);
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  font-family: inherit;
  color: rgb(161, 161, 161);
}
.button {
  font-family: inherit;
  margin-top: 50px;
  width: 100%;
  background-color: #000;
  border: #000 solid 1px;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.buttonReg {
  border: #718096 solid 1px;
  font-family: inherit;
  margin-top: 20px;
  width: 100%;
  background-color: #718096;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.buttonReg:hover {
  color: #000;
  background-color: #ffffff;
}

.button:hover {
  color: #000;
  background-color: #ffffff;
}

.button:disabled{
  background-color: rgb(161, 161, 161);
  color: rgb(117, 117, 117);
  border: rgb(117, 117, 117) solid 1px;
}

.loading {
  color: inherit;
  font-weight: bold;
  display:inline-block;
  font-size: inherit;
  clip-path: inset(0 1.2ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -0.4ch 0 0)
  }
}