/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* .background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1f1e1e, #575757);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #1f1e1e, #575757);
  right: -30px;
  bottom: -80px;
} */

.images {
  width: 100%;
  display: flex;
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 5px;
  border: rgb(203, 213, 224) 1px solid;
}

.image > button {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  background-color: salmon;
  opacity: 0.4;
  border: 1px salmon solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transition: 1s ease-out all;
}

.image > button:hover {
  opacity: 1;
}

.file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.fileLable {
  display: flex;
  background-color: #fff;
  color: rgb(203, 213, 224);
  transition: all 0.7s ease-out;
  align-items: center;
  justify-content: center;
  border: rgb(203, 213, 224) 1px solid;
  border-radius: 3px;
  font-size: 3rem;
  cursor: pointer;
}

.fileLable:hover {
  background-color: rgb(203, 213, 224);
  color: #fff;
}

.main {
}

.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.input {
  border: 1px solid rgb(203, 213, 224);
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  font-family: inherit;
  color: rgb(161, 161, 161);
}
.button {
  font-family: inherit;
  margin-top: 50px;
  width: 100%;
  background-color: #000;
  border: #000 solid 1px;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.button:hover {
  color: #000;
  background-color: #ffffff;
}

.button:disabled {
  background-color: rgb(161, 161, 161);
  color: rgb(117, 117, 117);
  border: rgb(117, 117, 117) solid 1px;
}

.loading {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  font-size: inherit;
  clip-path: inset(0 1.2ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -0.4ch 0 0);
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 25px;
}

.sizesContainer {
  display: flex;
  align-items: flex-start;
}

.sizesContainer > * {
  margin: 1rem;
}
