.footer {
  background-color: #f7fafc;
  padding: 3rem 0 3rem 0;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  height: 100%;
  display: flex;
  align-items: center;
}

.footerText {
  margin: 1rem 0;
}
